body{
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
#enteringScreen{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}
#gameTitle{
    position: absolute;
    top: 10vh;
    font-size: 50px;
    text-transform: uppercase;
}
#inputs{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    width: 40vw;
    font-size: 35px;
    text-transform: uppercase;
}
#playerNameInput{
    width: 20vw;
    height: 50px;
    margin: auto;
    font-size: 30px;
}
#nameInputInfo{
    color: red;
    font-size: 25px;
    margin-top: 20px;
    text-transform: none;
}
#playBtn{
    user-select: none;
    border: 2px solid white;
    padding: 20px;
    width: 40vw;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
#playBtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.blackScreen{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    width: 100vw;
    height: 100vh;
    background-color: black;    
}
#deathScreen{
    flex-direction: column;
    user-select: none;
}
#deathText{
    color: red;
    font-size: 5vw;
    font-weight: bold;
}
#respawnBtn{
    user-select: none;
    border: 2px solid white;
    padding: 20px;
    width: 30vw;
    text-align: center;
}
#respawnBtn:hover{
    /* border: 2px solid black; */
    background-color: white;
    color: black;
    cursor: pointer;
}
#yourName{
    position: fixed;
    user-select: none;
    color: white;
    width: 100%;
    text-align: center;
    top: 25px;
    font-size: 30px;
}