body{
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
#enteringScreen{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}
#enteringScreen_name{
    width: 40vw;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#enteringScreen_color{
    width: 600px;
    justify-content: center;
    align-items: center;
}
#enteringScreen_colors{
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    gap: 15px;
}
.coloredTile{
    width: 12vw;
    height: 12vw;
    max-width: 170px;
    max-height: 170px;
    cursor: pointer;
}
.coloredTile:hover{
    outline: 2px solid white;
}
.coloredTile[data-selected='true']{
    outline: 4px solid white;
}
#gameTitle{
    position: absolute;
    top: 10vh;
    font-size: clamp(15px, 5vw, 70px);
    text-transform: uppercase;
}
#inputs{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 35px;
    text-transform: uppercase;
}
#playerNameInput{
    width: 80%;
    height: 50px;
    margin: auto;
    font-size: 30px;
}
#nameInputInfo{
    color: red;
    font-size: 25px;
    margin-top: 20px;
    text-transform: none;
}
.btn{
    user-select: none;
    border: 2px solid white;
    padding: 20px;
    width: 30vw;
    max-width: 600px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    pointer-events: all;
}
#escapeScreen{
    background-color: #00000096;
    flex-direction: column;
    /* display: flex; */
}
#goBackBtn{
    font-size: 25px;
    min-width: 500px;
}
.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.enteringScreenSection{
    display: none;
    flex-direction: column;
    gap: 20px;
}
#enteringScreen_class{
    justify-content: center;
    align-items: center;
    user-select: none;
}
#classSelection{
    display: flex;
    gap: 20px;
}
.classSelectionBtn{
    border: 2px solid white;
    user-select: none;
    -webkit-user-drag: none;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    background-color: black;
    width: 12vw;
    min-width: 100px;
    aspect-ratio: 1/1;
}
.classSelectionBtn[data-selected='true']{
    border: 2px solid black;
    filter: invert(100%) brightness(100%) contrast(100%);    
}
.classSelectionBtn > img {
    pointer-events: none;
}
.classSelectionBtn:hover{
    transition: 0.5s;
    border: 2px solid black;
    filter: invert(100%) brightness(100%) contrast(100%);
}
#classInfoBox{
    border: 2px solid white;
    min-width: 400px;
    width: 41vw;
    height: 150px;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
}
#classBoxChamp{
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 60%;
    padding: 20px;
    height: 80px;
    border-right: 2px solid white;
}
#classBoxWeapon{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#classSpaceMaker{
    height: 155px;
}
.blackScreen{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    width: 100vw;
    height: 100vh;
    background-color: black;    
}
#deathScreen{
    flex-direction: column;
    user-select: none;
}
#deathText{
    color: red;
    font-size: 5vw;
    font-weight: bold;
}
#respawnBtn{
    user-select: none;
    border: 2px solid white;
    padding: 20px;
    width: 30vw;
    text-align: center;
}
#respawnBtn:hover{
    /* border: 2px solid black; */
    background-color: white;
    color: black;
    cursor: pointer;
}
#yourName{
    position: fixed;
    user-select: none;
    color: white;
    width: 100%;
    text-align: center;
    top: 25px;
    font-size: 30px;
}
#notifications{
    position: fixed;
    z-index: 3;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
    pointer-events: none;
}
.notification{
    background-color: #000000c4;
    padding: 5px 30px 5px 30px;
    text-align: center;
    max-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}
.notification[data-special='true']{
    outline: 2px solid gold;
}
.gunIcon{
    margin-top: -5px;
}
.cannonIcon{
    margin-top: 0px;
}
.colorYellow{
    color: #ebeb4c;
}
.colorRed{
    color: rgb(179, 23, 23);
}
.colorGreen{
    color: green;
}
.fontBold{
    font-weight: bold;
}
#bigMessageBox{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vw;
    user-select: none;
    pointer-events: none;
}
#tabScreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
    pointer-events: none;
}
#tabTable{
    color: white;
    width: 600px;
    height: 400px;
    border: 2px solid #000000e0;
    background-color: #00000098;
    padding: 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
}
#tabConetent{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    pointer-events: none;
}
.tabSection{
    border-left: 2px solid red;
    border-right: 2px solid red;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tabSection:nth-child(1){
    border-left: 2px solid blue;
    border-right: 2px solid blue;    
}
#tab_playerInfo{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.tab_player{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    pointer-events: all;
}
.tabCell{
    border-right: 2px solid white;
    padding-right: 5px;
    height: 28px;
    width: 150px;
    text-wrap: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.coloredBox{
    width: 28px;
    height: 28px;
}
.tab_player_kills{
    width: 60px;
}
.tab_player_deaths{
    width: 80px;
}
.tab_player_dominating{
    width: 105px;
}
.tab_player_class{
    width: 75px;
}
#editotModeText{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    font-size: 35px;
    color: white;
    text-align: center;
    pointer-events: none;
    user-select: none;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.tileBtn{
    width: 50px;
    height: 50px;
    pointer-events: all;
    cursor: pointer;
}
.tileBtn > img {
    pointer-events: none;
}
.tileBtn:hover{
    outline: 2px solid white;
}
#tileImages{
    background-color: #000000c7;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}
.clickableBox{
    width: 50px;
    height: 50px;
    cursor: pointer;
    pointer-events: all;
}
.clickableBox:hover{
    outline: 2px solid white;
}
#triggerBoxes{
    background-color: #000000c7;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;    
}
#collisionBox{
    border: 2px solid yellow;
}
#triggerBox{
    border: 2px solid green;
}
#killerBox{
    border: 2px solid red;
}